<h1>登録会員一覧</h1>
<table>
    <tr>
        <th>ユーザID</th>
        <th>ユーザ名</th>
        <th>メールアドレス</th>
        <th>パスワード</th>
        <th>登録日時</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.mail %></td>
        <td><%= user.password %></td>
        <td><%= user.created_at %></td>
    </tr>
    <% end %>
</table>
<h1>商品一覧</h1>
<table>
    <tr>
        <th>商品画像</th>
        <th>商品番号</th>
        <th>商品名</th>
        <th>価格</th>
        <th>在庫</th>
    </tr>
    <% @items.each do |item| %>
    <tr>
        <td><%= image_tag item.item_img %></td>
        <td><%= item.id %></td>
        <td><%= item.item_name %></td>
        <td><%= item.item_price %></td>
        <td><%= item.item_stock %></td>
    </tr>    
    <% end %>
</table>

<h1>新規商品追加</h1>
<%= form_tag("/item_add") do %> 
<!--<form method="post">-->
    <div>商品名：　<input type="text" name="item_name"></div>
    <div>価格：　<input type="text" name="item_price"></div>
    <div>在庫数：　<input type="text" name="item_stock"></div>
    <input type="submit" name="botan" value="商品追加">
<!--</form>-->
<% end %>

<div><%= link_to 'システムトップへ', root_path %></div>