<h1>カート一覧</h1>
<table>
    <tr>
        <th>カート番号</th>
        <th>商品ID</th>
        <th>商品画像</th>
        <th>商品名</th>
        <th>商品単価</th>
        <th>現在の在庫数</th>
        <th>個数</th>
        <th>小計</th>
        <th>削除</th>
    </tr>
    <% @carts.each do |cart| %>
    <tr>
        <td><%= cart.cart_id %></td>
        <td><%= cart.item_id %></td>
        <td><%= image_tag cart.item_img %></td>
        <td><%= cart.item_name %></td>
        <td><%= cart.item_price %>円</td>
        <td><%= cart.stock %>個</td>
        <td>
            <%= form_tag('/cart_update') do %>
                <input type="text" name="number" value="<%= cart.number %>">個
                <input type="hidden" name="cart_id" value="<%= cart.cart_id %>">
                <input type="submit" value="変更">
        </td>
            <% end %>
        <td><%= cart.number * cart.item_price %>円</td>
        <td>
            <!--<from method="post">-->
            <%= form_tag('/cart_destroy') do%>
                <input type="hidden" name="cart_id" value="<%= cart.cart_id %>">
                <input type="submit" value="削除">
            <!--</from>-->
            <% end %>
        </td>
    </tr>
    <% end %>
</table>

<%= form_tag('/buy') do %>
    <input type="submit" value="購入">
<% end %>

<%= link_to '会員トップへ', user_login_top_path %>
