<%= @user.name %>さん、ようこそ！
<%= link_to 'カートへ', cart_show_path %>

<h1>商品一覧</h1>
<table>
    <tr>
        <th>商品画像</th>
        <th>商品番号</th>
        <th>商品名</th>
        <th>価格</th>
        <th>個数</th>
    </tr>
    <% @items.each do |item| %>
    <tr>
        <td><%= image_tag item.item_img %></td>
        <td><%= item.id %></td>
        <td><%= item.item_name %></td>
        <td><%= item.item_price %></td>
        <td>
            <%= form_tag('/cart_add') do %>
            <input type="text" name="number">個
            <input type="hidden" name="item_id" value="<%= item.id %>">
            <input type="submit" value="カートに追加">
            <% end %>
        </td>
    </tr>    
    <% end %>
</table>

<div><%= link_to 'ログアウト', user_logout_path %></div>