<h1>ログイン</h1>
<!--<form method="post" astion="#">-->
<%= form_tag("/user_login") do %> 
    <div>メールアドレス：　<input type="text" name="mail" placeholder="メルアドを入力してください"></div>
    <div>パスワード：　<input type="password" name="password" placeholder="パスワードを入力してください"></div>
    <input type="submit" value="ログイン">
<!--</form>-->
<% end %>

<h1>新規会員登録</h1>
<!--<form method="post" astion="#">-->
<%= form_tag("/user_new") do %> 
    <div>お名前：　<input type="text" name="name" placeholder="メルアドを入力してください"></div>
    <div>メールアドレス：　<input type="text" name="mail" placeholder="メルアドを入力してください"></div>
    <div>パスワード：　<input type="password" name="password" placeholder="パスワードを入力してください"></div>
    <input type="submit" value="登録">
<!--</form>-->
<% end %>

<div><%= link_to 'システムトップへ', root_path %></div>
