// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table, tr, th, td{
    border: solid 1px;
}
img{
    width: 100px;
}